.formUser {
    max-width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.addUser {
    width: 90%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.searchUsers {
    margin: 0 25px 0 0;
}
.searchUser {
    width: 100%;
    margin: 20px 0 0 0;
}
.userTitle {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-archetypefy {
    cursor: pointer;
}
.orderUserTags {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #dddada;
    border-bottom: 1px solid #dddada;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.showNameUserAndAction {
    width: 100%;
    border-bottom: 1px solid #dddada;
    padding: 0 0 15px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.showEvery {
    width: 100%;
    padding: 8px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pagination {
    width: 100%;
    margin: 20px 0 0 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.viewDetail {
    cursor: pointer;
}
