.infoProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.bemVindo {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bemVindo hr {
    width: 230px;
    color: rgba(68, 68, 68, 1);
}
.sejaBemVindo, .suasCompras {
    margin: 5px 0;
    color: rgba(68, 68, 68, 1);
}
.wordOrange {
    color: rgba(184, 116, 46, 1);
}
.formulario {
    width: 100%;
}
.compras {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 50px 0;
}
.compras a {
    text-decoration: none;
}
.card {
    width: 140px;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.card:hover {
    box-shadow: 1px 1px 10px rgba(184, 116, 46, 1);
}
.cardImg {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardImg img {
    width: 115px;
}
.cardImgAr {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cardImgAr img {
    width: 115px;
}
.cardDesc {
    width: 140px;
    text-align: center;
    margin: 10px 0;
    color: rgba(68, 68, 68, 1);
}
.suporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.suporte a {
    text-decoration: none;
}
.suporteName {
    font-size: 14px;
    color: rgba(68, 68, 68, 1);
}
.suportePhoto img {
    width: 40px;
}
.suporteAction {
    padding: 8px;
    font-size: 12px;

    border: 1px solid rgba(184, 116, 46, 1);
    border-radius: 5px;
    transition: 0.5s linear;
    cursor: pointer;
}
.suporteAction:hover {
    border: 1px solid rgba(184, 116, 46, 1);
    background: rgba(184, 116, 46, 1);
    color: #fff;
}
.guestConfig {
    width: 120px;
    position: absolute;
    right: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}
.iconsConfig {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btnOut {
    font-size: 25px;
    color: rgba(184, 116, 46, 1);
}
.testeOk {
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: end;
    padding: 15px 15px 0 0;
}
.testeOk img {
    width: 20px;
    position: absolute;
}
.iconTest {
    font-size: 65px;
}
.btnGo {
    font-size: 15px;
    margin: 0 0 0 8px;
}
.btnGoAtention {
    color: #fff;
    background-color: transparent;
}

@media (max-width: 450px) {
    .logout {
        right: 8px;
    }
    .compras {
        flex-direction: column;
    }
  }
