.messageStartTest {
    text-align: center;
    line-height: 40px;
}
.messageStartTest p {
    color: rgba(68, 68, 68, 1);
}
.btnBackStartTest {
    width: 28px;
    margin: 0 8px 0 0;
}
.logout {
    position: absolute;
    right: 20px;
    cursor: pointer;
}
